{% extends 'base.html' %}

{% block title %}Add Details{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="/vendor" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Add Delivery Person</div>
      </div>
    </div>

    <div class="page-content">

      

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}