{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"></div>
        <div class="title">Hi {{ data['username'] }}!</div>
        <div class="right">
          <button class="col button color-orange padding-right" ><a href="/logout" class= "external">Logout</a></button>
        </div>
      </div>
    </div>

    <div class="page-content">
      
      <div class="card">
        <div class="card-header justify-content-center">Unsubscribe {{ data['news_paper'] }}</div>
        <div class="card-content card-content-padding">
          <div class="list no-hairlines-md">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="From" readonly="readonly" id="from-date" />
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="To" readonly="readonly" id="to-date" />
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <button class="col button button-fill open-toast-bottom" onclick="Unsubscribe()">Unsubscribe</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Complaint -->
      <div class="card">
        <div class="card-header justify-content-center">Register a Complaint</div>
        <div class="card-content card-content-padding">
          <div class="list no-hairlines-md">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Select Date" readonly="readonly" id="er_date" />
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <button class="col button button-fill open-toast-bottom" onclick="Complain()">I did not receive my {{data['news_paper']}}</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

var $$ = Dom7;
var today = new Date();

var calendarModal1 = app.calendar.create({

    inputEl: '#from-date',
    closeOnSelect:true,
    openIn: 'customModal',
    header: true,
    footer: true,
    animate : true,
    dateFormat: 'dd-mm-yyyy',
    disabled: {
    from: new Date(1, 1, 1970),
    to: today
    },
    convertToPopover : true,
  });

var calendarModal2 = app.calendar.create({

    inputEl: '#to-date',
    closeOnSelect:true,
    openIn: 'customModal',
    header: true,
    footer: true,
    animate : true,
    dateFormat: 'dd-mm-yyyy',
    disabled: {
    from: new Date(1,1,1970),
    to: today
    },
    convertToPopover : true,
    });

var calendarModal3 = app.calendar.create({

    inputEl: '#er_date',
    closeOnSelect: true,
    openIn: 'customModal',
    header: true,
    footer: true,
    animate: true,
    dateFormat: 'dd-mm-yyyy',
    disabled: {
      from: today
    },
    convertToPopover: true,
  });

function Unsubscribe(){
    if (!navigator.onLine) {
    app.dialog.alert("Please check your internet connection!");
    return;
  }

  var from_date = document.getElementById("from-date").value;
  var to_date = document.getElementById("to-date").value;
    if(from_date=='' || to_date==''){
      app.dialog.alert("Please select dates!");
      return
    }
    app.dialog.confirm("Are you sure, you want to unsubscribe "+"{{data['news_paper']}}"+" from "+from_date+" to "+to_date+"?", function () {
      
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/customer", true);
      xhttp.onreadystatechange = function () { // Call a function when the state changes.
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          if (this.responseText === "1") {
            app.dialog.alert("Unsubscribed!");
            document.getElementById('from-date').value = '';
            document.getElementById('to-date').value = '';
          } else {
            app.dialog.alert("OOPS..Something Went Wrong");
          }
        }
      }
      xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhttp.send("from_date=" + from_date + "&to_date=" + to_date);
    });
}


function Complain(){
  if (!navigator.onLine) {
    app.dialog.alert("Please check your internet connection!");
    return;
  }

  var er_date = document.getElementById("er_date").value;

  if (er_date == '') {
    app.dialog.alert("Please select a date!");
    return
  }
  app.dialog.confirm("{{data['username']}}"+" Are you sure, you did not receive " + "{{data['news_paper']}}" + " on " + er_date + "?", function () {

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/customer", true);
    xhttp.onreadystatechange = function () { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        if (this.responseText === "1") {
          app.dialog.alert("We are extremely sorry! Issue will be resolved. Wont happen again :)");
          document.getElementById('er_date').value ='';
        } else {
          app.dialog.alert("OOPS..Something Went Wrong!");
        }
      }
    }
    xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhttp.send("er_date="+ er_date);
  });
}

</script>
{% endblock %}