{% extends 'base.html' %}

{% block title %}Workers Details{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="/vendor" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Workers details</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">

      <div class="data-table">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Name</th>
              <th class="numeric-cell">Phone No</th>
              <th class="medium-only">Area</th>
              <th class="medium-only">DOJ</th>
              <th class="medium-only">Address</th>
            </tr>
          </thead>

          <tbody>
            {% for item in data %}
            <tr>
              <th class="label-cell">{{ item['name'] }}</th>
              <th class="numeric-cell">{{ item['phone_no'] }}</th>
              <th class="medium-only">{{ item['area'] }}</th>
              <th class="medium-only">{{ item['doj'] }}</th>
              <th class="medium-only">{{ item['address'] }}</th>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}