{% extends 'base.html' %}

{% block title %}Workers Details{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="/vendor" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Workers details</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">

      <div class="card data-table">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Full Name</th>
              <th class="numeric-cell">Phone No</th>
              <th class="label-cell">Area</th>
              <th class="label-cell">Date of Joining</th>
              <th class="label-cell">Residential Address</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td class="label-cell">{{ item['name'] }}</td>
              <td class="numeric-cell">{{ item['phone_no'] }}</td>
              <td class="label-cell">{{ item['area'] }}</td>
              <td class="label-cell">{{ item['doj'] }}</td>
              <td class="label-cell">{{ item['address'] }}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}