{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/login" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Sign Up!</div>
      </div>
    </div>

    <div class="page-content">

              <div class="block text-align-center">
                <img src="static/images/logo_96.png" alt="Logo" />
              </div>
              <h1 class="text-align-center">Deliver</h1>
              
              <form action = "/signup" method = "POST">
                <div class="list no-hairlines-md">
                  <ul>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">person_crop_circle</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Username</div>
                        <div class="item-input-wrap">
                          <input type="text" name="username" placeholder="Your username">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">envelope_fill</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Email Id</div>
                        <div class="item-input-wrap">
                          <input type="email" name="email" placeholder="Your email id">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">phone_fill</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Phone</div>
                        <div class="item-input-wrap">
                          <input type="tel" name="phone_no" placeholder="Your phone number">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">lock_fill</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Password</div>
                        <div class="item-input-wrap">
                          <input type="password" name="password" placeholder="Your password">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">lock_fill</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Re-enter Password</div>
                        <div class="item-input-wrap">
                          <input type="password" name="re-password" placeholder="Re-enter your password">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">map_pin_ellipse</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">City</div>
                        <div class="item-input-wrap">
                          <input type="text" name="city" placeholder="Select your city">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">map_fill</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Area</div>
                        <div class="item-input-wrap">
                          <input type="text" name="area" placeholder="Select your area">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">map_pin_ellipse</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Address</div>
                        <div class="item-input-wrap">
                          <textarea name="address" class="resizable" placeholder="Your address"></textarea>
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">doc_plaintext</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Newspaper</div>
                        <div class="item-input-wrap">
                          <input type="text" name="news_paper" placeholder="Select your newspaper">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-media">
                        <i class="icons f7-icons size-28">person_crop_circle_fill_badge_checkmark</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Vendor</div>
                        <div class="item-input-wrap">
                          <input type="text" name="vendor" placeholder="Select your vendor">
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                    <li class="padding">
                      <p class="row margin-left margin-right">
                        <button class="col button button-fill external" type="submit">Sign Up</button>
                      </p>
                    </li>
                  </ul>
                </div>
              </form>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}