{% extends 'base.html' %}

{% block title %}Complaints{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="/vendor" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Complaints</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">

      {% for item in data %}
      <div class="card">
        <div class="card-header">{{item['username']}}, {{item['area']}} on {{item['complained_date']}}</div>
        <div class="card-content card-content-padding">
          <div class="list no-hairlines-md padding">
            <ul>
              <li>I did not receive '{{item['news_paper']}}' on {{item['er_date']}}</li>
            </ul>
            <div class="block padding-top">
              <!--<p class="segmented segmented-raised">-->
                <div class="row">
                <div class="col-33"></div>
                <div class="col-33">
                  <button onclick="call(this.id)" id="{{item['phone_no']}}" class="col button button-small button-outline color-orange">
                    <!--<i class="icons f7-icons size-14">phone_fill</i>-->
                    CALL
                  </button>
                </div>
                <div class="col-33"></div>
                </div>
                <!--
                <button class="col button button-round button-outline button-small button-fill">
                  <i class="icons f7-icons size-14">archivebox_fill</i>
                </button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function call(phone_no) {
    var link = document.createElement("A");
    link.setAttribute('href', "tel:" + phone_no);
    link.click();
  };
</script>
{% endblock %}