{% extends 'base.html' %}

{% block title %}Complaints{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="/vendor" class="link icon-only external">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Complaints</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">

      <div class="card">
        <div class="card-header justify-content-center">Username</div>
        <div class="card-content card-content-padding">
          date - paper not delivered -area
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}